# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/bin/
/obj/
/wwwroot/app
/wwwroot/lib
!/wwwroot/app/lib
/wwwroot/node_modules/
/wwwroot/css/*.min.css
project.lock.json
